@value makerGreen, makerLightGrey from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  border-right: 1px solid makerLightGrey;
  padding: 0.5em 2em;
}

.title {
  text-align: center;
  color: makerGreen;
  width: 100%;
  margin-bottom: 1em;
}
